/* 
 * El orden aparecido en el CSS sigue la jerarquía de especifidad estructural.

 * Cuando las clases - id - etiquetas estructurales están íntimamente relacionadas, las he 
 * agrupado en un bloque semántico encerrado entre comentarios.
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Variables iniciales */
:root{
    --gris           : #E6E6E6;
    --borde-gris     : 0.0625em solid #E6E6E6;
    --borde-negro    : 0.0625em solid black;
    --beige          : #B2B2B2;
    --gris-oscuro    : #4C4C4B;
    --margen-superior: 2em;
}

*{
    font-family: 'Open Sans', sans-serif;
    padding    : 0;
    margin     : 0;
}

/* Outline HTML */

header, nav, main, section, form, form > div, #shopping{
    display  : flex;
    max-width: 100%;
}

header{
    justify-content: center;
    letter-spacing : .5em;
    margin-top     : 1.5em;
    font-size      : 12px;
}

nav{
    justify-content: space-around;
    margin         : 1.25em 0em 3em 0em;
    padding        : 0em 1.5em;
    font-weight    : bold;
    font-size      : 1.0625em;
    line-height    : 1.2em;
}

main{
    width          : 100%;
    margin         : 0 auto;
    justify-content: center;
}

aside{
    display: none;
}

section{
    flex-direction: column;
    align-items   : center;
}

/* Etiquetas generales */

form, form > div{
    flex-direction: column;
    margin-top    : 1.32em;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr{
    color        : var(--gris);
    width        : 20.937em;
    height       : 0.06em;
    margin-bottom: 2.5em;
}

input[type="text"], input[type="tel"]{
    border    : var(--borde-gris);
    margin-top: var(--margen-superior);
    padding   : .5em;
    width     : 20.9375em;
}

label{
    margin-left: 1em;
}

img{
    max-width : 100%;
    height    : 50px;
    border    : var(--borde-gris);
    cursor    : pointer;
    margin    : 0em .2em;
    transition: ease-in-out .5s border;
}

img:hover{
    border: 0.0625em solid black;
}

button{
    background    : black;
    color         : white;
    font-size     : 0.875em;
    font-weight   : 700;
    letter-spacing: 0.0125em;
    line-height   : 1.0625em;
    width         : 13.3125em;
    margin        : var(--margen-superior);
    padding       : 0.875em;
    align-self    : center;
}
figure{
    margin-right: 0.625em;
    width       : 6.25em;
}

figure > img{
    display: block;
    margin : 0 auto;
}
figcaption{
    margin-top: 0.4375em;
    text-align: center;
    font-size : 0.75em;
    display   : none;
}

/* ID */

#regalo{
    margin-bottom: 2.5em;
    font-size    : 0.875em;
}

#tarjetas{
    display   : flex;
    margin-top: var(--margen-superior);
    width     : 100%;
}

#caducidad{
    display        : flex;
    flex-direction : row;
    width          : 300px;
    justify-content: space-between;
    margin         : 0;
}

#caducidad > div > input{
    width      : 3.75em;
    margin-left: .2em;
}

#caducidad > .right >.info{
    background-position: 3.125em;
}

#pay-card{
    margin-top: -0.4375em;
}

#pay-paypal{
    margin-top: 2.5em;
    background: black;
    color     : white;
    width     : 15em;
    height    : 3em;
    display   : none;
    align-self: flex-start;
}


/* Bloque semántico: Tooltip */

#tooltip{
    color           : #ffffff;
    background      : var(--gris-oscuro);
    font-size       : 14px;
    line-height     : 1.125em;
    text-align      : left;
    width           : 17.5em;
    padding         : 0em 1.25em 0.75em 1.25em;
    align-self      : flex-end;
    display         : flex;
    flex-direction  : column;
    align-items     : flex-end;
    opacity         : 0;
    transition      : .5s all;
    transition-delay: .5s;
}

.point-tooltip{
    align-self: flex-end;
    margin-top: -0.3125em;
    width     : 1.5625em;
    height    : 1.5625em;
    background: var(--gris-oscuro);
    transform : rotate(45deg);
}

.info:hover + #tooltip{
    opacity: 1;
}

/* Clases */

.select{
    color: var(--gris);
}

.subtitulo{
    font-size : 0.75em;
    color     : var(--beige);
    margin-top: var(--margen-superior);
}

.pais{
    font-size: 0.875em;
}

.info{
    background-image   : url("../assets/Icons/info.svg");
    background-repeat  : no-repeat;
    background-position: 19.8em;
    cursor             : help;
}

/* Controla el subtexto de ayuda del input */

.label-flotante > input{
    padding-top: .9em;
}

.label-flotante{
    position: relative;
    margin  : 0;
}

.label-flotante > label{
    padding   : 0.5em 0em;
    align-self: flex-start;
    position  : absolute;
    font-size : 0.75em;
    top       : 1.4em;
    opacity   : 0;
    transition: linear .8s all;
}

input:focus + label {
    opacity: 1;
}

/* Seccion tarjeta de regalo */
.interludio{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}

/* Clases de la subseccion tarjetas */

.ideal{
    margin-left: -0.625em;
}

.visa{
    background-image   : url("../assets/Logos/Visa.png");
    background-repeat  : no-repeat;
    background-position: 18em;
}
/* Bloque semántico: Posicionamiento de las flechas en Mes y año en la seccion 'expire date' en tarjetas */
.arrow{
    background-image   : url("../assets/Icons/arrow_down.svg");
    background-repeat  : no-repeat;
    background-size: 20px;
}

#year{
    background-position: 2.8em;
}

#month{
    background-position: 3.3em;
}

/* Errores */

.error{
    color    : red;
    font-size: 0.75em;
}

.hidden{
    display: none;
}

/* Aparece en pantallas grandes */

.hide-mob{
    display: none;
}

/* Aside: Cesta de la compra */

#cabecera-caja{
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-content  : center;
    font-weight    : bold;
    font-size      : 0.75em;
    margin-bottom  : 1.25em;
}
#shopping{
    display       : flex;
    flex-direction: column;
    width         : 25em;
    padding       : 3em 2em;
    height        : 35.0625em;
    background    : var(--gris);
    font-size     : 0.875em;
}

#edicion{
    color        : rgb(108, 108, 108);
    font-weight  : normal;
    border-bottom: 0.0625em dotted;
    cursor       : pointer;
    transition   : 1s linear color;
}
#edicion:hover{
    color: black;
}

.articulo{
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 1em;
}


.articulo > img{
    width : 5.625em;
    height: 9.375em;
}

.modelo{
    margin-right: 9.375em;
}

#shopping > hr {
    margin-bottom: 1em;
}

.bold-art{
    font-weight  : bold;
    margin-bottom: .5em;
}

.min-art{
    font-size: 0.8125em;
}

#subtotal, #delivery, #total{
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    margin         : 0.625em 0em;
    font-size      : 0.875em;
}

.tituloPrecio{
    font-weight: bold;
    font-size  : 14px;
}

.precioFinal{
    font-weight: bold;
    font-size  : 1.125em;
}



