@media (min-width: 600px){
    .hide-mob{
        display: inline-block;
    }
    nav{
        height       : 1.5em;
        width        : 500px;
        margin       : 1.25em auto;
        margin-bottom: 3em;
    }
    .interludio{
        width: 357px;
    }
}

@media (min-width: 979px){
    body{
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows   : auto;
        grid-template-areas  : 
        "header header header header"
        "nav nav nav nav"
        " main .  . caja "
    }
    header{
        grid-area: header;
    }
    nav{
        font-size: 14px;
        grid-area: nav;
    }
    main{
        justify-content: flex-start;
        grid-area      : main;
        padding-left   : 2.1875rem;
    }
    aside{
        display       : flex;
        flex-direction: flex-start;
        grid-area     : caja;
    }
    input[type="text"], input[type="tel"]{
        border: 1px solid #b2b2b2;
        width : 400px;
    }
    form{
        margin-top: .7em;
    }
    article{
        width: 25.9375em;
    }
    .info{
        background-position: 26.8em;
    }
    .visa{
        background-position: 21.875em;
    }
    #year{
        background-position: 3.5em;
    }
    #month{
        background-position: 4em;
    }
    .button{
        width      : 15em;
        margin-left: 1em;
    }
    .paypal{
        display        : flex;
        width          : 25.9375em;
        justify-content: flex-start;
    }
    #pay-paypal{
        justify-self: flex-start;
        margin      : 2.5em 0em;
    }
    .interludio{
        width: 425px;
    }
}

@media (min-width: 1200px){
    body{
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows   : auto;
        grid-template-areas  : 
        "header header header header"
        "nav nav nav nav"
        " . main  . caja "
    }
}