@media (min-width: 600px){
    .hide-mob{
        display: inline-block;
    }
    nav{
        height       : 1.5em;
        width        : 500px;
        margin       : 1.25em auto;
        margin-bottom: 3em;
    }
}

@media (min-width: 979px){
    body{
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows   : auto;
        grid-template-areas  : 
        "header header header header"
        "nav nav nav nav"
        " . main  . caja "
    }
    header{
        grid-area: header;
    }
    nav{
        font-size: 14px;
        grid-area: nav;
    }
    main{
        justify-content: flex-start;
        grid-area      : main;
        padding-left   : 35px;
    }
    aside{
        display       : flex;
        flex-direction: flex-start;
        grid-area     : caja;
    }
    input[type="text"], input[type="tel"]{
        border   : 1px solid #b2b2b2;
        width    : 400px;
        font-size: 13px;
    }
    form{
        margin-top: .7em;
    }
    .info{
        background-position: 29em;
    }
}